:root {
    --primary-bg-color: lightblue;
    --dark-primary-bg-color: darkblue;
    --secondary-bg-color: lightgray;
    --primary-text-color: darkblue;
    --secondary-text-color: darkgray;
}

html {
    background: linear-gradient(to top, #ffffff, #bcddff);
    overflow-x: hidden;
}

.page-header {
    color: white;
    background-color: var(--dark-primary-bg-color);
    background: linear-gradient(to right, var(--dark-primary-bg-color), #1770c9);
}

.navbar {
    background: linear-gradient(to right, var(--dark-primary-bg-color), #1770c9);
}

.navbar-nav .nav-link.active,
a.active {
    color: white;
    font-weight: bold;
}

.navbar a {
    color: white;
}

#hero-header {
    font-weight: bold;
}

.divider {
    background-color: var(--secondary-bg-color);
box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5);
}

.navbar a:hover {
    color: var(--secondary-text-color);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.divider-header {
    font-weight: bold;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

footer {
    background-color: var(--dark-primary-bg-color);
}

.hero-info {
    width: fit-content;
}

/* .clogo {
  width: 100%;       
  height: 200px;     
  object-fit: contain; 
} */