:root {
    --primary-bg-color: lightblue;
    --dark-primary-bg-color: darkblue;
    --secondary-bg-color: lightgray;
    --primary-text-color: darkblue;
    --secondary-text-color: darkgray;
}

html {
    background: linear-gradient(to top, #ffffff, #bcddff);
    overflow-x: hidden;
}

.page-header {
    color: white;
    background-color: var(--dark-primary-bg-color);
    background: linear-gradient(to right, var(--dark-primary-bg-color), #1770c9);
}

.navbar a {
    color: white;
}

#hero-header {
    font-weight: bold;
}

.divider {
    background-color: var(--secondary-bg-color);
box-shadow: inset 0 0 1rem rgba(0, 0, 0, .5);
}

.navbar a:hover {
    color: var(--secondary-text-color);
}

.divider-header {
    font-weight: bold;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none !important;
}

footer {
    background-color: var(--dark-primary-bg-color);
}

/* .clogo {
  width: 100%;       
  height: 200px;     
  object-fit: contain; 
} */